
* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

html, body, #root {
  min-height: 100%;
}

body {
  background: #000 url('./assets/back_rose.jpg') no-repeat;
  -webkit-font-smoothig: antialiased !important;
}

body, input, button {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}

.container form label {
  font-size: 18px;
  color: #FF5A5F;
  font-weight: bold;
  margin-bottom: 8px;
}

.container {
  margin: 100px auto 0;
  max-width: 450px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content {
  width: 100%;
  background-color: rgb(248, 255, 255);
  border-radius: 20px;
  padding: 30px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.192);
}

.content form {
  display: flex;
  flex-direction: column;
}

.content > p {
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 30px;
}

.content button.btn {
  border: 0;
  border-radius: 5px;
  width: 100%;
  height: 42px;
  padding: 0 20px;
  font-size: 16px;
  font-weight: bold;
  background: #FF5A5F;
  color: #fff;
  cursor: pointer;
}

.content form input {
  margin-bottom: 20px;
  border: 0.5px dotted;
  border-radius: 3px;
  border-color: #FF5A5F;
  height: 40px;
  padding: 0 15px;
  font-size: 14px;
}

.content button.btn:hover {
  background: rgb(238, 84, 90);
}

